<div class="container">
  <div class="row d-flex justify-content-center p-4">
    <div class="col">
      <div class="p-2 h1 text-warning text-center mx-auto display-inline-block">
        <i class="fa fa-check bg-warning text-white rounded p-2 mr-2"></i>
        <u>My Todos</u>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-12">
      <div class="row mt-5 mb-5 d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center">
          <input
            type="text"
            [(ngModel)]="todo"
            class="form-control p-4 rounded-0"
            placeholder="Enter Your Work To Do !!"
          />
          <button
            class="btn btn-warning w-25 ml-2 rounded-0"
            [disabled]="!todo"
            (click)="addWork()"
          >
             Add Task
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-todolist></app-todolist>
