<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card-hover-shadow-2x mb-3 card">
        <div class="card-header-tab card-header">
          <div
            class="card-header-title font-size-lg text-capitalize font-weight-normal"
          >
            <i class="fa fa-tasks"></i>&nbsp;Task Lists
          </div>
        </div>
        <div class="scroll-area-sm">
          <div style="position: static;" class="ps ps--active-y">
            <div class="ps-content">
              <ul class=" list-group list-group-flush">
                <li
                  class="list-group-item"
                  *ngFor="let todo of todos; let i = index"
                >
                  <div class="todo-indicator bg-primary"></div>
                  <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                      <div class="widget-content-left mr-2">
                        <div class="custom-control custom-checkbox">
                          <div class="d-flex align-items-center">
                            <label
                              ><input
                                type="checkbox"
                                (click)="changeStyle(i)"
                                class="option-input radio"
                              /><span
                                class="label-text"
                                [ngClass]="todo.isDone ? 'done' : ''"
                                >{{ todo.todo }}</span
                              ></label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="widget-content-right">
                        <button
                          class="border-0 btn-transition btn btn-outline-danger"
                          (click)="deleteWork(i)"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
